.header {
    background-color: #333;
    padding: 10px;
    display: flex;
    .row {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #343a40;
      border-radius: 20px;
      .col-md-3 {

        display: flex;
        justify-content: center;
  
        a {
          margin-right: 10px;
          text-decoration: none;
          color: #343a40;
          display: block;
          padding: 10px;
          font-weight: bold;
          text-decoration: none;
          color: #ffffff;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  